@{
    ViewBag.Title = "Потвърждение за смяна на парола";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Вашата парола беше сменена. Моля @Html.ActionLink("кликнете тук, за да влезете в системата.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
